@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 7.5rem;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 3.6rem 10%;
  gap: 0.6rem;
}

.text h2 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
}

.text p {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.125rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 1.6rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.09rem;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 1.4rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
